 <md-content class="md-padding" layout="column">
    <div layout-align="space-between center" layout="row">
        <h1>Content</h1>
        <div>
            <md-button class="md-primary">Button 1</md-button>
            <md-button class="md-primary">Button 2</md-button>
            <md-button class="md-primary">Button 3</md-button>
        </div>
    </div> 
    <!-- All classes and components come directly from ng-material documentation -->
    <md-grid-list md-cols="1" md-cols-gt-xs="2" md-cols-gt-small="3" md-cols-gt-md="5" md-cols-gt-lg="7" md-row-height-gt-xs="150px" md-row-height="100px"
        md-gutter="1em">
        <md-grid-title>Write the test here ...</md-grid-title>






  <!--  </md-grid-list>
</md-content> 

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/examples/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>-->

